@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root{
    /* font */
    --ff:'Montserrat', sans-serif;

    /* font weights */
    --light: 300;
    --reg: 400;

    /* colours */
    --bg-gradient: background: rgb(13,17,59);
    background: linear-gradient(90deg, rgba(13,17,59,1) 10%, rgba(97,40,96,1) 100%);
    --text: #fff;
    --accent: rgba(26, 31, 75, 1);

    /* padding */
    --padding: 15px;

    /* max width */
    --max-wd: 1500px;

    /* font size */
    --fs-large: 2.8rem; 
    --fs-reg: 1.3rem; 
}

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--ff);
    color: var(--text);
}

/* scroll behaviour */
html{
    scroll-behavior: smooth;
}

/* header */


.header{
    width: 100%;
    padding: var(--padding);
    font-size: var(--fs-reg);
    position: fixed;
}

.nav_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: var(--padding);
    max-width: var(--max-wd);
}

.navbar{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.colored{
  background-color: #8F3B8D;
}


.nav_link a{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.nav_link a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #8F3B8D;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* hero */

#hero{
    background-image: url(assets/hero_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    max-width: var(--max-wd);
    padding: var(--padding);
    line-height: 1.3;
}
.intro{
    font-size: var(--fs-large);
    margin-bottom: 15px;
    border-radius: 5px;
}

.btn{
    text-decoration: none;
    font-size: var(--fs-reg);
    background-color: #8F3B8D;
    padding: 5px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

/* hamburger */

.hamburger {
    position: fixed;
    right: 30px;
    top: 32px;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text);
}

  .navbar.active {
    right: 0;
  }

  /* about */

  #about{
    margin: 50px 0px;
  }

  .section_title{
    display: block;
    padding: var(--padding);
    background: var(--accent);
    width: 550px;
    text-align: center;
    font-size: var(--fs-large);
    border-radius: 5px;
    margin-bottom: 50px;
  }

  .about_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin: auto;
  }

  .left{
    padding: 0 26px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right{
    max-width: 650px;
    -webkit-box-shadow: 21px 25px 5px 0px rgba(26, 31, 75, 1);
  -moz-box-shadow: 21px 25px 5px 0px rgba(26, 31, 75, 1);
  box-shadow: 21px 25px 5px 0px rgba(26, 31, 75, 1);
  margin-bottom: 50px;
  }

  .social{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 20px;
  }

  .resumé{
    background-color: #8F3B8D;
    outline: none;
    border: none;
    padding: 5px;
    cursor: pointer;   
  }

  .about_text{
    margin-bottom: 20px;
  }

  /* work */

  .work_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px;
    justify-items: center;
    grid-auto-flow: row;
    max-width: 1250px;
    margin: 50px auto;
    padding: 15px;
  }

  .work_card{
    max-width: 300px;
    overflow: hidden;
  }

  .work_img{
    max-width: 100%;
    display: block;
    height: auto;
    cursor: pointer;
    transition: 300ms ease-in-out;
  }

  .work_img:hover{
    transform: scale(1.2);

  }

  .work_img img{
   overflow-clip-margin: content-box;
   overflow: clip;
  }

/* 1000px screens and smaller */
@media screen and (max-width: 1000px){
    .navbar{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        right: 0;
        top: 0;
        background: var(--accent);
        min-width: 55%;
        height: 100vh;
        right: -100%;
        transition: all 300ms ease-in-out;
    }

    
    .hamburger {
        display: block;
    }

    .content_container{
    align-items: center;
    text-align: center;
}

  .about_container{
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

    .social{
    justify-content: center;
  }

    .section_title{
    width: 350px;
  }


}

