@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* main colours */
  --main-bg: #1f173c;
  --accent: #ff6978;
  --accent2: #ffb6b6;

  --secondary-btn: #f5f5f5;

  /* text colours */

  --main-txt: #000;
  --sub-txt: #cacbcd;
  --paragraph: #6c6e72;

  /* font size */

  --h1-size: 2.25em;
  --h2-size: 1.25em;
  --p-size: 1em;

  /* font weights */

  --bold: 900;
  --semi-bold: 600;
  --medium: 400;
  --light: 200;
}

/* reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

/* nav */
header {
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 12%;
  padding-block: 1.5em;
}

nav ul {
  display: flex;
  align-items: center;
  overflow-y: auto;
}

nav ul li a {
  font-weight: var(--semi-bold);
  color: var(--main-txt);
  transition: 300ms ease-in-out;
}

nav ul li a:hover {
  font-size: 1.1em;
}

nav ul li:not(:last-child) {
  margin-right: 2.5em;
}

.hamburger-icon {
  position: absolute;
  right: 25px;
  top: 25px;
  display: none;
  cursor: pointer;
  animation: shake 1s;
  animation-iteration-count: 1;
}

@media screen and (max-width: 800px) {
  nav ul {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 55%;
    background-color: #ff6978;
    min-width: 45%;
    transition: 300ms ease-in-out;
  }

  .showNav {
    right: 0;
  }

  .burgerWhite {
    color: white;
  }

  nav ul li:not(:last-child) {
    margin-right: unset;
  }

  nav ul li a {
    margin: 25px;
  }

  .hamburger-icon {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  nav ul {
    min-width: 100%;
  }
}

/* animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
