@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:wght@400;700&display=swap');

/* reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --sky-blue: #0181b0;
    --black:#222222;
    --text-color-main: #fff;
    --accent: #e0edf5;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{
    background: var(--accent);
    font-size: 10px;
    font-family: Inter, 'sans-serif';
}

/* nav menu and hamburger */

header{
    width: 100dvw;
}

nav{
    position: fixed;
    top: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    background-color: #080d0c;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

nav ul li, .logo{
    position: relative;
    margin: 0 1.5em;
}

nav ul a, .logo{
    text-decoration: none;
    color: var(--text-color-main);
    font-weight: 500;
    font-size: 2.5em;
    padding: 0.3em;

}

/* Nav hover effect */

nav ul a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--sky-blue);
    transform: scaleX(0);
    transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul a:hover::after{
    transform: scaleX(1);
}

#menu-btn{
    display: none;
}

/* responsive nav styles */
@media screen and (max-width: 900px) {
    ul{
        flex-direction: column;
        height: 100dvh;
        width: 400px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        justify-content: space-around;
        background: var(--black);
        transition: 300ms all ease-in-out;
        transform: translateX(500px);
        z-index: 1000;
     }

  
     

     .logo{
        margin: 0 auto;
     }
     /* hamburger menu  */

     #menu-btn{
        display: block;
        margin-right: 1em;
     }
     .hamburger{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
    }
    
    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom{
        position: absolute;
        width: 20px;
        height: 2px;
        top: 0;
        left: 0;
        background: #fff;
        transition: all 500ms;
    }
    
    
    .hamburger-middle{
        transform: translateY(5px);
    }
    
    .hamburger-bottom{
        transform: translateY(10px);
    }
    
    .open {
        transform: rotate(90deg);
    }
    
    .open .hamburger-top{
        transform: rotate(45deg) translateY(6px) translateX(6px);
    }
    
    .open .hamburger-middle{
        display: none;
    }
    
    .open .hamburger-bottom{
        transform: rotate(-45deg) translateY(6px) translateX(-6px);
    }
     
    /* overlay */

    .overlay-show{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .stop-scrolling{
        overflow: hidden;
    }

    .show-menu{
        transform: translateX(0px);
        z-index: 1000;
    }

     nav ul {
        margin: unset;
     }
 
    .hamburger{
        display: inline-block;
        right: 5%;
    }
}

/* hero section */

#hero{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100dvh;
    background-image: url(imgs/bg-img.jpg), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.content-top, .content-bottom{
    font-size: 2.5em;
    padding: 0.5em 0;
}

.content-top{
    color: var(--accent);
    position: relative;
}

.content-bottom{
    position: relative;
    text-align: right;
    color: var(--sky-blue);
}

.content-middle{
    font-size: 6em;
    color: var(--text-color-main);
}

.content-top::after{
    content: "";
    height: 35px;
    top: 25px;
    width: 65px;
    border-right: 2px solid var(--sky-blue);
    border-top: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    right: 0;

}

.content-bottom::before{
    content: "";
    height: 35px;
    top: 4px;
    width: 65px;
    border-left: 2px solid var(--sky-blue);
    border-bottom: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    left: 0;

}

.fa-arrow-down{
    color: var(--accent);
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(50%);
    cursor: pointer;
}

@media screen and (max-width: 415px){
    .content-top, .content-bottom{
        font-size: 2em;
    }

    .content-middle{
        font-size: 4.5em;
    }
}

/* arrow bounce animation */
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* about me */

.about-title{
    margin: 2em;
    line-height: 2;
}

.about-title h2{
    text-align: center;
    width: 200px;  
    margin: 0 auto;
    font-size: 2em;
    position: relative;
}

.about-title h2::before{
    content: "";
    height: 15px;
    bottom: 0;
    width: 35px;
    border-left: 2px solid var(--sky-blue);
    border-bottom: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    left: 0%;
}

.about-title h2::after{
    content: "";
    height: 15px;
    top: 0;
    width: 35px;
    border-right: 2px solid var(--sky-blue);
    border-top: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    right: 0%;
}

.about-title p{
    font-size: 1.5em;
    max-width: 70%;
    margin: 1em auto;
}


/* timeline */
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 5em auto;
    padding: 15px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--sky-blue);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .container.left {
    left: 0;
  }
  
  .container.right {
    left: 50%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: var(--black);
    border: 2px solid var(--sky-blue);
    border-radius: 16px;
    z-index: 1;
  }
  
  .container.right::after {
    left: -8px;
  }
  
  .container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: var(--black);
    z-index: 1;
  }
  
  .container.right::before {
    left: 8px;
  }
  
  .container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--sky-blue);
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
  }
  
  .container.left .date {
    right: -75px;
  }
  
  .container.right .date {
    left: -75px;
  }
  
  .container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: var(--text-color-main);
    border: 2px solid var(--sky-blue);
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: var(--sky-blue);
    z-index: 1;
  }
  
  .container.left .icon {
    right: 56px;
  }
  
  .container.right .icon {
    left: 56px;
  }
  
  .container .content {
    padding: 30px 90px 30px 30px;
    background: var(--text-color-main);
    position: relative;
    border-radius: 0 500px 500px 0;
  }
  
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .container .content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
    color: var(--sky-blue);
  }
  
  .container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  @media (max-width: 750px) {
    .timeline::after {
      left: 10px;
    }
  
    .container {
      max-width: 100%;
      min-width: 70%;
      padding-left: 120px;
      padding-right: 30px;
    }


  
    .container.right {
      left: 0%;
    }

    .container.left, .container.right{
      padding: 2em;
    }
  
    .container.left::after, 
    .container.right::after {
      left: 0px;
    }
  
    .container.left::before,
    .container.right::before {
     left: 0px;
      border-color: transparent var(--sky-blue) transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
  display: none;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 3em;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }


  /* work section */
  
  #work{
    background-color: var(--black);
    color: var(--text-color-main);
    min-height: 300px;

    
  }

  .work-title{
    text-align: center;
    line-height: 2;
    padding: 1.5em;
}

.work-title h2{
  display: block;
  text-align: center;
  width: 200px;  
  margin: 0 auto;
  font-size: 2em;
  position: relative;

}


  .work-title h2::before{
    content: "";
    height: 15px;
    bottom: 0;
    width: 35px;
    border-left: 2px solid var(--sky-blue);
    border-bottom: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    left: 0%;
}

  .work-title h2::after{
    content: "";
    height: 15px;
    top: 0;
    width: 35px;
    border-right: 2px solid var(--sky-blue);
    border-top: 2px solid var(--sky-blue);
    position: absolute;
    z-index: 10;
    right: 0%;
}

.work-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 70%;
  margin: 6em 0;
}

.work-container{
  transition: 200ms;
  text-align: center;
  margin: 2em;

}

.work-container a{
  text-decoration: none;
  color: inherit
}

.work-container h3{
  font-size: 4.5em;

}

.work-container p{
  color: var(--sky-blue);
  font-size: 1.5em;
}

.work-container h3:first-of-type{
  margin-top: 0;
}

.work-container p:last-of-type{
  margin-bottom: 1em;
}

.work-container:hover{
  transform: translateY(2px);
}


/* contact */


.contact-title h2{
  display: block;
  text-align: center;
  width: 200px;  
  margin: 1em auto;
  font-size: 2em;
  position: relative;
}

.contact-title h2::before{
  content: "";
  height: 15px;
  bottom: 0;
  width: 35px;
  border-left: 2px solid var(--sky-blue);
  border-bottom: 2px solid var(--sky-blue);
  position: absolute;
  z-index: 10;
  left: 0%;
}

.contact-title h2::after{
  content: "";
  height: 15px;
  top: 0;
  width: 35px;
  border-right: 2px solid var(--sky-blue);
  border-top: 2px solid var(--sky-blue);
  position: absolute;
  z-index: 10;
  right: 0%;
}

fieldset{
  border: none;
  border-bottom: 2px solid var(--sky-blue);
  }

  label{
    font-size: 1.25rem;
  }

  form{
  margin: 8em auto;
  max-width: 600px;
}

input[type="text"], input[type="number"], input[type="email"]{
  display: block;
  margin: 0.5em 0;
  width: 100%;
  padding: 0.6em 0;
  border-radius: 5px;
  border: 1px solid var(--black);
  background-color: transparent;
  font-size: 1.125rem;
  color: var(--black);
}

select{
  display: block;
  margin-top: 1rem;
}

textarea{
  display: block;
  margin: 0.5em 0;
  border-radius: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"]{
  width: 100%;
  display: block;
  padding: 1rem 1.2rem;
  margin: 0.5rem 0;
  background-color: var(--sky-blue); 
  color: white;
  border: none;
  font-size: 1.125rem;
  border-radius: 5px;
  transition: 300ms ease-in-out;
}

input[type="submit"]:hover{
  opacity: 0.7;
}



@media screen and (max-width: 700px){

  form{
    max-width: 400px;
    margin: 0 auto;

  }
  
  label{
    font-size: 1.2em;
  }
}


@media screen and (max-width: 450px){

  form{
    max-width: 300px;
    margin: 0 auto;

  }
  
  
input[type="text"], input[type="number"], input[type="email"], textarea{

  padding: 0.3em 0;
  font-size: 1rem;

}
}